@model Imagens.Models.Produto

@{
    ViewData["Title"] = "Inserir Produto";
}

<h1>Inserir Produto</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input type="file" name="Img" id="Img" class="form-control" onchange="previewImage();" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <img id="preview" src="#" alt="Preview" style="max-width: 200px; display: none; margin-top: 15px;" />
            </div>

            <div class="form-group" style="margin-top:15px;">
                <input type="submit" value="Inserir" class="btn btn-primary btn-sm" />
                <a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function previewImage() {
            var file = document.getElementById("Img").files[0];
            console.log(file); 
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var preview = document.getElementById("preview");
                    preview.src = e.target.result;
                    preview.style.display = "block";
                    console.log(e.target.result); 
                }
                reader.readAsDataURL(file);
            } else {
                var preview = document.getElementById("preview");
                preview.src = "#";
                preview.style.display = "none";
            }
        }
    </script>
}
